.section2 {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    /* width: 50vw; */
    padding-top: 5em;
    padding-bottom: 5em;
}

.round-card {
    border-radius: 20px;
    width: 12em;
    height: 12em;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    transition: all 0.3s;
    /* margin-left: 2em; */
    margin-right: 2em;
    margin-bottom: 4em;
    border: 3px solid #008cff;
    color: #891F09;
}

.member-photo {
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1f1f1f99;
    text-decoration: underline;
}

.round-card:hover .overlay {
    opacity: 1;
}

.round-card:hover {
    transform: translate(0, -10px);
    box-shadow: 0 15px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    color: #efefef;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s;
    font-weight: bold;
  }